html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

body {
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  background-color: #e5e5e4; }

a {
  text-decoration: none !important; }

.uber-logo {
  width: 72px;
  height: 16px; }

.uk-navbar {
  background-color: #fff;
  padding: 0 145px; }
  .uk-navbar a {
    height: 60px !important;
    color: black !important; }

.uk-navbar-right button {
  margin-top: 12px;
  padding: 4px;
  background-color: #178B94; }
.uk-navbar-right button:hover {
  background-color: #0F6D77; }
.uk-navbar-right img {
  padding-top: 18px;
  padding-right: 10px; }

#map {
  width: 100%;
  height: 400px;
  background-color: grey; }

.section-one {
  padding: 20px !important;
  margin: 0 220px 0 220px !important; }
  .section-one p {
    font-size: 36px; }
  .section-one form {
    padding: 32px;
    background-color: #F8F8FA;
    display: inline-block;
    z-index: 1;
    position: absolute;
    min-width: 400px; }
    .section-one form input {
      padding: 25px; }
    .section-one form img {
      width: 60px !important; }
    .section-one form a {
      color: #178B94; }
    .section-one form i {
      color: #178B94; }
    .section-one form .rules {
      margin-top: 40px; }
    .section-one form .or-line h2 {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid rgba(187, 187, 187, 0.651);
      line-height: 0.1em;
      margin: 15px 0 20px; }
      .section-one form .or-line h2 span {
        background-color: #F8F8FA;
        padding: 20px 8px;
        padding-bottom: 20px !important;
        font-size: 10px; }
    .section-one form .main {
      margin-left: 32px; }
    .section-one form p {
      font-size: 10px; }
  .section-one button {
    background-color: #178B94; }
  .section-one button:hover {
    background-color: #0d545c !important; }
  .section-one .indivual {
    margin-top: 16px; }
  .section-one a:hover {
    color: #0d545c; }

.driver {
  position: relative;
  padding-top: 30px;
  width: 1600px;
  height: 460px; }

.blank {
  height: 200px; }

.section-two {
  padding: 102px 40px 102px 220px;
  position: relative; }
  .section-two .image {
    width: 120px;
    height: 120px; }
  .section-two button {
    background-color: #178B94; }
  .section-two button:hover {
    background-color: #0F6D77; }
  .section-two .arrow {
    display: flex;
    background-color: #178B94;
    padding-right: 8px;
    color: #fff;
    align-items: center; }

.section-two.text {
  position: absolute;
  z-index: 1; }

.section-three {
  width: 100% !important;
  background-image: url("../images/desk (2).jpg") !important; }

.section-four {
  width: 100% !important;
  background-image: url("../images/desk.jpg") !important; }

.part-two {
  padding: 102px 40px 102px 220px;
  position: relative; }

.input {
  border: 1px solid #e5e5e4;
  padding: 8px 12px 6px 29px; }
  .input input {
    border: 0;
    padding-right: 16px; }
  .input span {
    color: #C6C6C6;
    cursor: pointer;
    font-size: 20px;
    font-size: 1.42857rem;
    line-height: 1.4;
    float: right; }
    .input span svg {
      padding-bottom: 40px !important; }

.pricing {
  padding-top: 80px; }
  .pricing h2 {
    margin: 0px;
    font-size: 40px; }
  .pricing p {
    margin: 0px;
    font-size: 30px; }
  .pricing a {
    padding: 0 0 0 40px; }

.location {
  padding-right: 100px; }

.section-five {
  height: 1200px;
  background-color: #F8F8F9; }
  .section-five ul {
    height: 750px !important; }

svg {
  padding-left: 20px; }

.caption {
  padding: 40px; }

.s-card {
  width: 50%;
  padding: 0 0 20px 0  !important; }
  .s-card p {
    margin: 16px; }

.section-two.part-seven {
  background-color: #F8F8F9 !important; }

.uk-container {
  background-color: #fff;
  width: 80%;
  z-index: -5;
  padding: 0px !important; }

.clear {
  height: 55px;
  width: 100px;
  clear: both;
  position: relative; }

.footer {
  padding: 102px 40px 0 0;
  background-color: #111;
  position: relative;
  right: -20px; }

.main {
  padding: 0px 245px 0 0px; }
  .main hr {
    margin-left: 150px !important; }
  .main img {
    color: white;
    background-color: #111; }
  .main a {
    text-decoration: none;
    color: white; }
  .main span {
    padding-right: 10px; }

.main:last-child {
  padding-bottom: 80px; }

.devide {
  padding: 0px 0 0 50px; }
  .devide div {
    margin: 20px; }
  .devide ul {
    list-style-type: none; }
  .devide li {
    padding-bottom: 12px;
    color: white; }

.main.uk-card.uk-card-body {
  background-color: #111;
  width: 300px !important; }

#bottom {
  margin-top: 200px; }

.countries {
  font-size: 15px; }
  .countries div {
    margin: 4px 0; }
  .countries a {
    margin-left: 7px; }

/*# sourceMappingURL=styles.css.map */
