html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

body {
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px; }

.uber-logo {
  width: 72px;
  height: 16px; }

.uk-navbar {
  height: 60px !important;
  background-color: #fff; }
  .uk-navbar a {
    height: 60px !important;
    color: black !important;
    text-decoration: none; }

.uk-navbar-right button {
  margin-top: 12px;
  padding: 4px;
  background-color: #178B94; }
.uk-navbar-right img {
  padding-top: 18px;
  padding-right: 10px; }

#map {
  width: 100%;
  height: 400px;
  background-color: grey; }

.section-one p {
  font-size: 36px; }
.section-one .text {
  padding: 0 84px; }
.section-one form {
  padding: 32px;
  background-color: #F8F8FA;
  display: inline-block;
  position: absolute;
  min-width: 400px; }
  .section-one form input {
    padding: 25px; }
  .section-one form img {
    width: 60px !important; }
  .section-one form a {
    color: #178B94; }
  .section-one form i {
    color: #178B94; }
  .section-one form .rules {
    margin-top: 40px; }
  .section-one form .or-line h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(187, 187, 187, 0.651);
    line-height: 0.1em;
    margin: 15px 0 20px; }
    .section-one form .or-line h2 span {
      background-color: #F8F8FA;
      padding: 20px 8px;
      padding-bottom: 20px !important;
      font-size: 10px; }
  .section-one form .main {
    margin-left: 32px; }
  .section-one form p {
    font-size: 10px; }
.section-one button {
  background-color: #178B94; }
  .section-one button span {
    float: right;
    padding-top: 10px; }
.section-one .indivual {
  margin-top: 10px; }

.driver {
  position: absolute;
  z-index: -1;
  padding-top: 30px;
  width: 1600px;
  height: 570px; }

.blank {
  height: 600px; }

.section-two {
  padding: 102px 20px;
  margin: 0 220px 0 220px;
  position: relative; }
  .section-two .image {
    width: 120px;
    height: 120px; }
  .section-two button {
    background-color: #178B94; }

.driver {
  position: absolute;
  z-index: -1;
  padding-top: 30px;
  width: 1560px;
  height: 460px; }

.part-two {
  padding-top: 80px; }

.pricing {
  padding-top: 80px; }
  .pricing h2 {
    margin: 0px;
    font-size: 40px; }
  .pricing p {
    margin: 0px;
    font-size: 30px; }
  .pricing a {
    padding: 0 0 0 40px; }

.location {
  padding-right: 100px; }

#arrow {
  background-color: #999;
  padding: 10px 0;
  color: white; }

.button-members {
  margin-top: 50px; }

.form-block {
  width: 300px;
  left: 0;
  right: 0;
  margin: 30px auto 0; }

.menu-options {
  padding-top: 10px;
  padding-bottom: 10px; }

.clear {
  height: 55px;
  width: 100px;
  clear: both;
  position: relative; }

.section {
  width: 100%;
  clear: both;
  position: relative;
  height: auto;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.background-section {
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 500px;
  background-position: center;
  color: #555; }

label {
  font-size: 12px;
  float: left;
  width: 33.33%;
  text-align: center;
  font-weight: bold; }

hr {
  width: 90%; }

.footer-block {
  width: 300px;
  float: left; }

.footer {
  background-color: black;
  color: white; }

.horizontal-line-footer {
  margin-bottom: 15px; }

.bottom-footer {
  width: 100%;
  clear: both;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px; }

svg {
  padding-left: 20px; }

/*# sourceMappingURL=styles.css.map */
