h1 {
  color: #111;
  font-family: "clanpro-book", sans-serif !important;
  font-weight: 500;
  line-height: 32px;
  margin: 0 !important; }

h2, h3 {
  color: #111;
  font-family: "clanpro-book", sans-serif !important;
  margin: 0 !important; }

h4 {
  color: #111;
  font-family: "clanpro-book", sans-serif !important;
  margin: 0 !important;
  font-size: 24px !important; }

h3 {
  font-family: "clanpro-thin", sans-serif !important;
  font-size: 36px;
  font-weight: 200 !important;
  line-height: 44px;
  padding: 0 !important; }

em {
  color: black !important; }

p {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

ul {
  list-style-type: none;
  padding-left: 0 !important; }
  ul li {
    color: #fff;
    padding-bottom: 12px; }

@font-face {
  font-family: "clanpro-book";
  src: url("../images/fonts/clanpro-book.ttf") format("truetype"); }
@font-face {
  font-family: "clanpro-thin";
  src: url("../images/fonts/clanpro-thin.ttf") format("truetype"); }
h1 {
  color: #111;
  font-family: "clanpro-book", sans-serif !important;
  font-weight: 500;
  line-height: 32px;
  margin: 0 !important; }

h2, h3 {
  color: #111;
  font-family: "clanpro-book", sans-serif !important;
  margin: 0 !important; }

h4 {
  color: #111;
  font-family: "clanpro-book", sans-serif !important;
  margin: 0 !important;
  font-size: 24px !important; }

h3 {
  font-family: "clanpro-thin", sans-serif !important;
  font-size: 36px;
  font-weight: 200 !important;
  line-height: 44px;
  padding: 0 !important; }

em {
  color: black !important; }

p {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

ul {
  list-style-type: none;
  padding-left: 0 !important; }
  ul li {
    color: #fff;
    padding-bottom: 12px; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

body {
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  font-family: "clanpro-book", sans-serif !important;
  font-weight: 100;
  letter-spacing: -0.03em;
  margin: 0 !important;
  box-sizing: border-box; }

.sub-wrapper {
  background: #e5e5e4; }

.wrapper {
  background-color: #fff !important;
  margin: 0 auto;
  max-width: 1560px; }

#first-p {
  color: #111;
  font-family: "clanpro-thin", sans-serif !important;
  font-size: 44px;
  font-weight: 100;
  letter-spacing: -0.03em;
  line-height: 60px;
  margin: 0 !important; }

.magic-section {
  margin: 0 145px 0 145px; }
  .magic-section button {
    background-color: #178B94;
    padding-right: 0; }
  .magic-section button:hover {
    background-color: #0b5a5f;
    color: white !important; }
  .magic-section span {
    margin-right: 30px;
    margin-left: 25px; }

.logo {
  padding-left: 0 !important;
  padding-right: 21px !important; }

.nav-item:hover {
  border-top: 4px solid #377037; }

.uk-sticky {
  background-color: #ffffff; }

.uk-navbar {
  background-color: #fff; }
  .uk-navbar .uk-navbar-left a {
    color: #000000;
    display: block;
    font-size: 16px;
    height: 60px;
    letter-spacing: 0.03em;
    line-height: 60px;
    margin-top: -4px;
    text-transform: none !important; }
  .uk-navbar a:hover {
    color: #377037 !important; }
  .uk-navbar li {
    border-top: 4px solid #fff; }

.uk-navbar-right a {
  color: #000000 !important;
  display: block !important;
  font-family: "clanpro-book", sans-serif !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  height: 60px !important;
  line-height: 60px !important;
  margin-top: -4px !important;
  text-transform: uppercase !important; }
.uk-navbar-right button {
  background-color: #178B94;
  font-size: .75714rem;
  font-weight: 900;
  line-height: 2.575;
  margin-top: 8px;
  outline: 0;
  padding: 0 12px;
  position: relative; }
  .uk-navbar-right button:hover {
    background-color: #0b5a5f; }
.uk-navbar-right a {
  padding: 0 6px; }
.uk-navbar-right svg:hover {
  fill: #377037 !important; }
.uk-navbar-right ul li:nth-child(5) a {
  padding-left: 24px !important;
  padding-right: 0 !important; }
.uk-navbar-right ul li:nth-child(-n+2) a {
  padding: 0 6px !important; }

.first-img {
  padding-top: 20px;
  position: relative;
  background-position-y: 0 !important;
  background-position-x: 0 !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  width: 100% !important;
  height: 500px !important; }

@media only screen and (min-width: 769px) {
  .first-img {
    background-image: url("../images/desk (1).jpg") !important; } }
@media only screen and (max-width: 1199px) and (min-width: 769px) {
  .first-img {
    height: 380px !important; } }
@media only screen and (max-width: 768px) and (min-width: 575px) {
  .first-img {
    background-image: url(https://d1a3f4spazzrp4.cloudfront.net/chameleon-assets/v1.0.0/c70b8eba-a194-42c9-b734-00bd27cda456/tablet2x.jpg) !important;
    height: 380px !important; } }
@media only screen and (max-width: 575px) {
  .first-img {
    background-image: url(https://d1a3f4spazzrp4.cloudfront.net/chameleon-assets/v1.0.0/c70b8eba-a194-42c9-b734-00bd27cda456/palm2x.jpg) !important;
    height: 280px !important; } }
.triple-card {
  padding: 150px 103px 80px; }

.section-one {
  margin: 44px 103px !important; }
  .section-one form {
    background-color: #F8F8FA;
    border-top: 8px solid #f1f1f1 !important;
    display: inline-block;
    min-width: 400px;
    padding: 32px;
    position: absolute;
    z-index: 1; }
    .section-one form .couple input:nth-child(2) {
      border-left: 0; }
    .section-one form .triple input:nth-child(-n+2) {
      border-bottom: 0 !important; }
    .section-one form div:nth-child(3) {
      padding-top: 20px !important; }
    .section-one form .item-one {
      padding-bottom: 20px; }
      .section-one form .item-one .uk-width-3-4 {
        padding-left: 20px !important; }
      .section-one form .item-one a {
        padding-right: 20px; }
    .section-one form input {
      font-size: 14px;
      padding: 25px; }
    .section-one form img {
      margin-right: 60px;
      width: 80px !important; }
    .section-one form a {
      color: #178B94;
      font-size: 14px;
      font-weight: bold;
      line-height: 25px; }
    .section-one form i {
      color: #178B94; }
    .section-one form .or-line h2 {
      border-bottom: 1px solid rgba(187, 187, 187, 0.651);
      line-height: 0.1em;
      margin: 15px 0 40px;
      text-align: center;
      width: 100%; }
      .section-one form .or-line h2 span {
        background-color: #F8F8FA;
        font-size: 10px;
        padding: 10px 8px 32px 8px; }
    .section-one form .rules {
      font-size: 14px;
      line-height: 28px;
      margin: 16px 0; }
    .section-one form p {
      font-size: 10px;
      line-height: 16px;
      margin: 0; }
      .section-one form p a {
        font-size: 10px;
        line-height: 16px; }
    .section-one form h4 {
      letter-spacing: 0.001em;
      word-spacing: -0.25em !important; }
  .section-one button {
    background-color: #178B94;
    padding-right: 0; }
    .section-one button:hover {
      background-color: #0b5a5f;
      color: white !important; }
  .section-one span {
    margin-right: 30px; }
  .section-one .individual {
    margin-top: 12px; }
  .section-one a:hover {
    color: #0b5a5f; }

.section-two .image {
  height: 120px;
  margin-bottom: 20px;
  width: 120px; }

.section-three {
  background-image: url("../images/desk (2).jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat;
  height: 100% !important;
  position: relative !important;
  width: 100% !important; }

.section-four {
  background-image: url("../images/desk.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat;
  height: 100% !important;
  position: relative !important;
  width: 100% !important; }

.section-five {
  background-color: #fff;
  padding: 80px 103px 10px !important; }
  .section-five h2 {
    margin-bottom: 24px !important; }
  .section-five .header {
    font-family: 'clanpro-thin', serif;
    font-weight: 200 !important;
    color: #494949 !important;
    font-size: 23px !important;
    letter-spacing: -.02em !important;
    line-height: 1 !important;
    margin-bottom: 12px !important; }

.unlock-cities {
  padding: 130px 103px !important;
  position: relative !important;
  width: 95% !important;
  z-index: 2 !important;
  margin-right: 0 !important; }
  .unlock-cities h2 {
    font-weight: 500 !important;
    line-height: 44px;
    padding: 0 !important; }
  .unlock-cities p {
    width: 84%;
    word-spacing: -0.1em; }
  .unlock-cities a {
    font-family: "clanpro-book", sans-serif;
    font-size: 14px;
    font-weight: 900 !important;
    line-height: 44px;
    color: #178B94; }
    .unlock-cities a:hover {
      color: #0b5a5f; }

.section-six {
  background-color: #f8f8f8;
  padding: 80px 93px 52px !important; }
  .section-six input[type="text"] {
    border: 0;
    font-family: "clanpro-book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 44px;
    padding: 0 0 0 20px;
    width: 380px; }
  .section-six button {
    -webkit-appearance: none;
    background: #178B94;
    border: 0;
    color: white;
    height: 44px;
    padding: 0 0;
    width: 50px; }
    .section-six button span {
      margin: 0 !important; }
  .section-six div {
    font-family: "clanpro-thin", sans-serif; }

.picture-text {
  padding: 130px 103px !important;
  position: relative !important;
  width: 50% !important;
  z-index: 2 !important;
  margin-right: 0 !important; }
  .picture-text p {
    padding-right: 150px; }

.written {
  padding-bottom: 60px;
  width: 85%; }
  .written a {
    color: #178B94 !important; }
    .written a:hover {
      color: #0b5a5f; }

.pricing {
  padding-top: 80px; }
  .pricing .connect-line {
    background-color: #C6C6C6;
    height: 61px;
    margin-left: 20px;
    margin-top: 22px;
    position: absolute;
    width: 1px;
    z-index: 10; }
    .pricing .connect-line:before {
      background-color: #F32F00;
      border-radius: 50%;
      border: 0.25px solid #F32F00;
      bottom: -1.5px;
      content: '';
      height: 4.5px;
      left: -2px;
      position: absolute;
      width: 4.5px; }
    .pricing .connect-line:after {
      background-color: #27AA0B;
      border-radius: 50%;
      border: 0.25px solid #27AA0B;
      content: '';
      height: 5px;
      left: -2px;
      position: absolute;
      top: -3.5px;
      width: 5px; }
  .pricing h2 {
    margin-bottom: 24px !important;
    word-spacing: -10px; }
  .pricing p {
    font-family: 'clanpro-thin', serif;
    font-weight: 200 !important;
    color: #494949 !important;
    font-size: 23px !important;
    letter-spacing: -.02em !important;
    line-height: 1 !important;
    margin-bottom: 12px !important; }
  .pricing .pickup-box {
    border: 0.5px solid #e5e5e4;
    height: 45px;
    margin-bottom: 15px;
    padding-right: 0 !important;
    padding: 11px; }
    .pricing .pickup-box i {
      color: #C6C6C6;
      font-size: 18px;
      margin: 0 8px 0 -26px;
      padding-left: 6px !important; }
    .pricing .pickup-box input {
      border: 0;
      font-family: "clanpro-thin", sans-serif;
      outline: 0;
      padding-left: 30px; }
  .pricing .destination-box {
    border: 0.5px solid #e5e5e4;
    height: 45px;
    margin-bottom: 15px;
    padding-right: 0 !important; }
    .pricing .destination-box button {
      margin-left: 21px !important;
      padding: 4px 15.5px 4px 21px;
      font-size: 20px !important;
      right: 20px;
      background-color: #C6C6C6;
      border: 0;
      text-align: center;
      padding-left: 9px !important; }
      .pricing .destination-box button i {
        color: white; }
      .pricing .destination-box button:hover {
        background-color: #C6C6C6; }
    .pricing .destination-box span i {
      color: white;
      font-size: 19px;
      margin-left: 2px; }
  .pricing .input-box {
    margin-top: 2px;
    padding: 10px 12px; }
    .pricing .input-box input {
      border: 0;
      font-family: "clanpro-thin", sans-serif;
      outline: 0;
      padding-left: 30px; }
  .pricing .uk-grid {
    margin: 0 !important; }

.uk-dotnav a {
  background-color: #fff !important;
  color: #e5e5e4;
  height: 13px;
  width: 13px; }
.uk-dotnav .uk-active a {
  background-color: #178B94 !important;
  height: 5px;
  margin-top: 3px;
  width: 5px; }

.dots a {
  background-color: #178B94;
  color: white; }

.caption {
  padding: 40px; }

.s-card {
  padding: 0 0 20px 0 !important;
  width: 50%; }
  .s-card p {
    margin: 16px; }

.map {
  padding: 80px 0; }
  .map h2 {
    margin-bottom: 24px; }
  .map .googlemap {
    background-color: grey;
    height: 400px;
    width: 100%; }

.video {
  background-color: #DDDDDD; }
  .video object {
    background-color: #DDDDDD;
    min-height: 600px; }

.footer {
  background-color: #000;
  padding: 102px 145px 0 145px;
  position: relative; }
  .footer .uk-first-column div {
    margin: 20px; }
  .footer svg {
    fill: white; }
  .footer .main hr {
    border-color: rgba(128, 128, 128, 0.315); }
  .footer .main a {
    color: white;
    font-size: 14px;
    text-decoration: none; }
    .footer .main a:hover {
      color: gray; }
  .footer .main span {
    padding-right: 10px; }
  .footer .countries {
    padding: 0 0 !important; }
    .footer .countries .uk-grid {
      margin: 0 !important;
      padding: 0 !important; }
    .footer .countries a, .footer .countries div {
      font-size: 12px !important; }
  .footer .divide div {
    padding: 12px 20px; }
  .footer .divide svg {
    fill: white; }
  .footer .divide ul {
    list-style-type: none;
    padding-left: 0 !important; }
  .footer .divide li {
    color: #ffffff;
    padding-bottom: 18px;
    cursor: pointer; }
  .footer .divide li:hover {
    color: #c6c6c6;
    padding-bottom: 18px; }
  .footer .head-part {
    padding: 10px 0;
    background-color: #000; }
    .footer .head-part img {
      margin-top: 15px; }

.invisible-a {
  width: 206px !important;
  padding: 32px 20px 20px 32px !important;
  display: block !important;
  position: relative !important;
  text-decoration: none !important;
  height: 206px !important;
  background-color: #12939A !important;
  z-index: 20; }

.invisible-button {
  font-size: 14px !important;
  font-family: "clanpro-book", sans-serif !important;
  color: #ffffff !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  padding: 32px 9px 20px 32px !important; }

.invisible-button-description {
  font-family: clanpro-book, sans-serif !important;
  font-weight: 500 !important;
  color: #ffffff !important; }

#bottom {
  margin-top: 200px; }

.uk-input {
  padding: 25px 20px !important; }
  .uk-input:focus {
    border-color: #e5e5e4 !important; }

.gray {
  height: 100%;
  width: 100%;
  background-color: #C6C6C6; }
  .gray i {
    z-index: 20;
    margin-left: -15px;
    margin-top: 13px;
    color: white; }

.uk-button {
  height: 40px;
  line-height: 42px !important;
  font-weight: 800 !important; }

a:hover {
  text-decoration: none !important; }

.uk-button-secondary {
  background-color: #fff !important;
  color: black !important; }

.uk-button-secondary:hover {
  background-color: #ddd9d9 !important; }

.uk-button-default:hover {
  background-color: #fff !important;
  color: black !important; }

.uk-button-default {
  border: 2px solid !important;
  color: #ffffff; }

@media only screen and (max-width: 1199px) {
  html, body {
    overflow-x: hidden;
    position: relative; } }
@media only screen and (min-width: 1199px) {
  .invisible-a {
    display: none !important; } }
@media only screen and (max-width: 1199px) {
  .uk-container {
    width: 100%; }

  .section-one {
    margin-left: 48px !important;
    margin-right: 48px !important; }
    .section-one h1 {
      font-size: 26px !important; }
    .section-one #first-p {
      font-size: 26px; }

  .section-two {
    padding-left: 5px !important;
    padding-right: 5px !important; }

  .section-six {
    padding-left: 25px !important;
    padding-right: 25px !important; }

  .magic-section {
    margin-left: 5px !important;
    margin-right: 5px !important; }

  .triple-card {
    padding-right: 0 !important;
    padding-left: 0 !important; }

  .uk-navbar {
    padding-left: 48px !important;
    padding-right: 48px !important; }

  .footer {
    padding-left: 48px !important;
    padding-right: 48px !important; }

  .invisible-a {
    display: block !important; }

  .written {
    padding-right: 48px !important;
    padding-left: 48px !important; }

  .map {
    padding-right: 10px !important;
    padding-left: 10px !important; }

  .card-button {
    padding-right: 10px !important;
    padding-left: 10px !important; } }
.uk-position-bottom-right {
  bottom: -167px !important;
  right: 0; }

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
  .picture-text {
    padding-right: 48px !important;
    padding-left: 90px !important;
    width: 100% !important; } }
@media only screen and (max-width: 1024px) {
  .picture-text {
    padding-right: 48px !important;
    padding-left: 48px !important;
    width: 100% !important; }

  .card-button {
    padding-left: 40px !important; } }
@media only screen and (max-width: 1199px) and (min-width: 769px) {
  .invisible-button {
    padding: 20px 9px 16px 20px !important; }

  .invisible-a {
    width: 180px !important;
    height: 180px !important;
    padding: 20px 16px 16px 20px !important;
    margin-right: 20px !important;
    bottom: -67px !important; }

  .invisible-button-description {
    font-size: 16px !important;
    line-height: 1.375 !important; } }
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .written {
    padding-right: 6.25vw !important;
    padding-left: 6.25vw !important; }

  .map {
    padding-right: 0 !important;
    padding-left: 0 !important; }

  .triple-card {
    padding-right: 6.25vw !important;
    padding-left: 6.25vw !important; } }
@media only screen and (max-width: 603px) and (min-width: 575px) {
  .invisible-a {
    width: 180px !important;
    height: 180px !important;
    padding: 20px 16px 16px 20px !important;
    margin-right: 20px !important;
    bottom: -85px !important; }

  invisible-button-description {
    font-size: 15px !important;
    line-height: 1.3333 !important; }

  .invisible-button {
    padding: 0px 0px 12px 1px !important; } }
@media only screen and (max-width: 768px) and (min-width: 604px) {
  .invisible-a {
    padding: 16px 16px 4px !important;
    width: 162px !important;
    height: 162px !important;
    bottom: -55px !important;
    right: 30px !important; }

  .invisible-button-description {
    font-size: 15px !important;
    line-height: 1.3333 !important; }

  .invisible-button {
    padding: 0px 0px 12px 1px !important; } }
@media only screen and (max-width: 959px) {
  .triple-card:first-child {
    height: 10%; }
  .triple-card .image {
    width: 30% !important;
    float: left; }
  .triple-card .card-description {
    width: 70%;
    float: right; }

  .section-six h2 {
    font-size: 20px !important; } }
@media only screen and (min-width: 767px) {
  .head-part1 {
    display: block !important; }

  .head-part2 {
    display: none !important; }

  .second-divide-1 {
    display: block !important; }

  .second-divide-2 {
    display: none !important; }

  .footer-last-part-1 {
    display: block !important; }

  .footer-last-part-2 {
    display: none !important; }

  .googlemap {
    display: block !important; } }
@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 40px !important;
    padding-bottom: 18px !important; }
    .footer .head-part1 {
      display: none !important; }
    .footer .head-part2 {
      display: block !important; }
      .footer .head-part2 a {
        margin-bottom: 16px !important;
        line-height: 4 !important;
        font-size: 10px !important;
        font-weight: 600; }

  .section-three {
    background: url(../images/tablet2x.jpg);
    background-position: center !important;
    background-size: cover !important;
    height: 100% !important; }

  .second-divide-2 {
    display: block !important; }

  .second-divide-1 {
    display: none !important; }

  .footer-last-part-1 {
    display: none !important; }

  .footer-last-part-2 {
    display: block !important; }

  .googlemap {
    display: none !important; }

  .map {
    background: url(../images/map.jpg);
    height: 200px; }

  .pricing {
    background-color: #ffffff;
    padding: 66px 94px;
    position: absolute;
    width: 64%;
    right: 0px;
    z-index: 20; }
    .pricing h2 {
      font-family: "clanpro-book", sans-serif !important;
      font-size: 22px !important;
      font-weight: 400;
      word-spacing: -4.5px; }
    .pricing p {
      font-size: 12px; }
    .pricing .destination-box button {
      margin-left: 37px !important; }
    .pricing .gray i {
      margin-left: 0 !important; }
    .pricing .pickup-box i {
      margin-left: -4px !important; } }
@media only screen and (max-width: 574px) {
  .invisible-a {
    padding: 14px 15px 4px !important;
    width: 162px !important;
    height: 141px !important;
    bottom: 24px !important;
    right: 30px !important; }

  .invisible-button-description {
    font-size: 15px !important;
    line-height: 1.3333 !important; }

  .invisible-button {
    padding: 0px 0px 12px 1px !important; } }
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
