$primary-color: #111;
$magic-green: #178B94;
$margin: 16px;
$image-size: 120px;
$magic-white:#fff;
$magic-gray:#F8F8F9;
@mixin magic-dest{
    padding:102px 40px 102px 220px;
    position: relative;
 
  }
@mixin arrow($color){
    display:flex;
    background-color: $color;
    padding-right: 8px;
    color:$magic-white;
    align-items: center;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    
}

body {
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    background-color: #e5e5e4;
  
} 
.vl {
    border-left: 1px solid black;
    height: 65px;
    position: absolute;
    z-index:1;
   bottom:240px;
   left:235px;
}

  
a{
    text-decoration: none !important;
}

.uber-logo{
    width: 72px;
    height: 16px;
}
.uk-navbar{
    background-color: $magic-white;
    padding:0 145px; 
    a{
        height:60px !important;
        color:black !important;
    }
   
}
.uk-navbar-right{

    button{
        margin-top:12px;
        padding:4px;
        background-color: $magic-green;
    }
    button:hover{
        background-color: #0F6D77;
    }
    img{
        padding-top:18px;
        padding-right:10px;
    }
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
.section-one{
    padding:20px !important;
    margin:0 220px 0 220px !important;
    p{
        font-size:36px;
    }
   
    form{
        padding:32px;
        background-color: #F8F8FA;
        display:inline-block;
        z-index:1;
        position: absolute;
        min-width:400px;
        input{
            padding:25px;
        }
        img{
           width:60px !important;
        }
        a{
            color:$magic-green;
        }
        i{
            color: $magic-green;
        }
        .rules{
            margin-top:40px;
        }

        .or-line{
            h2 {
                 width:100%;
                 text-align:center; 
                 border-bottom: 1px solid rgba(187, 187, 187, 0.651); 
                 line-height:0.1em; 
                 margin:15px 0 20px;
                   span {
                        background-color: #F8F8FA;
                        padding:20px 8px ;
                        padding-bottom: 20px !important;
                        font-size: 10px;
                     }
               } 
            
        }

        .main{
            margin-left:32px;
                
        }
        p{
            font-size:10px;
        }
    }

    button{
        background-color: $magic-green;
       
    }
    button:hover{
        background-color: rgb(13, 84, 92) !important;
    }
   
      .indivual{
        margin-top:$margin;
      }
      a:hover{
        color: rgb(13, 84, 92);
    }
}


.driver{
    position: relative;
  
    padding-top: 30px;
    width:1600px;
    height:530px;

  
}
.blank{
    height:200px;
}
.header2{
    width:800px !important;
}
.section-two{
    @include magic-dest();
    
    .image{
        width:120px;
        height:120px;
    }
    button{
        background-color: $magic-green;

    }
    button:hover{
       
            background-color: #0F6D77;
    }
   .arrow{
       @include arrow($magic-green)
   }
}
.section-two.part-two{
    padding-right:280px !important;
    padding-top: 0px !important;
}
.section-two.text{
    position: absolute;
    z-index:1;
}
.section-three{
    width:100% !important;
    background-image: url('../images/desk (2).jpg') !important;
}
.section-four{
    width:100% !important;
    background-image: url('../images/desk.jpg') !important;
}
.part-two{
    @include magic-dest();
}

.input{
    border :1px solid #e5e5e4;;
    padding: 8px 12px 6px 29px;
    margin-bottom:20px;
    input{
        border:0;
        padding-right: 16px;
    
    }
    input:focus {
        outline: none;
    }
    span{ 
        color: #C6C6C6;
        cursor: pointer;
        font-size: 20px;
        font-size: 1.42857rem;
        line-height: 1.4;
        float:right;
        svg{
            padding-bottom:40px !important;
        }
        
    }
  
}
.pricing{
    padding-top:80px;
    h2{
        margin:0px;
        font-size: 40px;
    }
    p{
        margin:0px;
        font-size: 30px;
    }
    a{
        padding:0 0 0 40px;
    }
}
.location{
    padding-right:100px;
}

.section-five{
    height:1200px;
    background-color: 	$magic-gray;
    ul{
        height:750px !important;
       
    }

}

svg{
    padding-left:20px;
}

.caption{
    padding:40px;
}
.s-card{
    p{
        margin: $margin;
    }
    width:50%;
    padding:0 0 20px 0  !important;

}

.section-two.part-seven{
    background-color: $magic-gray !important;
}

.uk-container{
  background-color: #fff;
  width:80%;
  z-index:-5;
  padding:0px !important;
}


.footer{
    padding:102px 40px 0 0;
    background-color: #111;
    position: relative;
    right:-20px;
}
.main{
    padding: 0px 245px 0 0px;
    hr{
        margin-left:150px !important;
    }
    img{
        color:white;
        background-color: #111;
    }
    a{
        text-decoration: none;
        color:white;
    }
    span{
        padding-right:10px;
    }
}
.main:last-child{
    padding-bottom:80px;
}
.devide{
    padding:0px 0 0 50px ;
    div{
        margin:20px;
    }
    ul{
        list-style-type: none;
    }
    li{
        padding-bottom:12px;
        color:white;
    }
}
.main.uk-card.uk-card-body{
    background-color: #111;
    width:300px !important;
}
#bottom{
    margin-top:200px;
}
.countries{
    font-size:15px;
        div{
            margin:4px  0 ;
        }
        a{
            margin-left:7px;
        }
}
